## Importing Libraries

In [1]:
import os

import numpy as np

import pandas as pd

from sklearn.model_selection import train_test_split

## Reading Data

In [2]:
PROJECT_DIR = r"C:\Users\User\Desktop\Learnabay Training\My Portfolio projects for resume\Flight Price Prediction"
DATA_DIR = "Data"

In [3]:
def get_data(name):
	file_name = f"{name}.csv"
	file_path = os.path.join(PROJECT_DIR, DATA_DIR, file_name)
	return pd.read_csv(file_path)

In [4]:
flights = get_data("flight_price")
flights

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [5]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [6]:
flights.dropna(inplace=True)

In [7]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
dtypes: int64(1), object(10)
memory usage: 1001.4+ KB

### Observations
- The dataset contains 10,683 rows and 11 features
- Columns Route and Total_Stops have missing value in the same row thus removed.
- The data types of some features isn't appropriate
te

## Preliminary Analysis

In [8]:
flights.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [9]:
flights.duplicated().sum()

220

### Observations:
- The type of Date_of_Journey, Dep_Time and Arrival_Time should be changed to datetime
- The type of Duration and Total_Stops is mixed. It should be numeric type.
- There're 220 duplicates. These should be removed.

## Detailed Analysis

In [10]:
flights.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [11]:
(
	flights
	.Airline
	.str.replace(" Premium economy", "")
	.str.replace(" Business", "")
	.str.title()
)

0             Indigo
1          Air India
2        Jet Airways
3             Indigo
4             Indigo
            ...
10678       Air Asia
10679      Air India
10680    Jet Airways
10681        Vistara
10682      Air India
Name: Airline, Length: 10682, dtype: object

In [12]:
flights.Source.unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [13]:
flights.Destination.value_counts()

Destination
Cochin       4536
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: count, dtype: int64

In [14]:
(
	flights
	.Destination
	.str.replace("New ", "")
	.unique()
)

array(['Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Hyderabad'],
      dtype=object)

In [15]:
flights.Date_of_Journey

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
10678     9/04/2019
10679    27/04/2019
10680    27/04/2019
10681    01/03/2019
10682     9/05/2019
Name: Date_of_Journey, Length: 10682, dtype: object

In [16]:
pd.to_datetime(flights.Date_of_Journey, dayfirst=True)

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
10678   2019-04-09
10679   2019-04-27
10680   2019-04-27
10681   2019-03-01
10682   2019-05-09
Name: Date_of_Journey, Length: 10682, dtype: datetime64[ns]

In [17]:
flights.Dep_Time

0        22:20
1        05:50
2        09:25
3        18:05
4        16:50
         ...
10678    19:55
10679    20:45
10680    08:20
10681    11:30
10682    10:55
Name: Dep_Time, Length: 10682, dtype: object

In [18]:
(
	flights
	.Dep_Time
	.loc[lambda ser: ser.str.contains("[^0-9:]")]
)

Series([], Name: Dep_Time, dtype: object)

In [19]:
flights.Arrival_Time

0        01:10 22 Mar
1               13:15
2        04:25 10 Jun
3               23:30
4               21:35
             ...
10678           22:25
10679           23:20
10680           11:20
10681           14:10
10682           19:15
Name: Arrival_Time, Length: 10682, dtype: object

In [20]:
(
	flights
	.Arrival_Time
	.loc[lambda ser: ser.str.contains("[^0-9:]")]
	.str.split(" ", n=1)
	.str.get(1)
	.unique()
)

array(['22 Mar', '10 Jun', '13 Mar', '02 Mar', '10 May', '04 Mar',
       '13 Jun', '28 May', '19 Mar', '07 May', '02 Jun', '16 Jun',
       '19 May', '16 May', '28 Jun', '02 May', '28 Mar', '19 Jun',
       '04 Apr', '25 Mar', '07 Mar', '25 Jun', '07 Jun', '25 May',
       '13 May', '16 Mar', '22 May', '10 Apr', '04 Jun', '20 May',
       '28 Apr', '25 Apr', '10 Mar', '19 Apr', '13 Apr', '02 Apr',
       '23 Mar', '22 Apr', '11 May', '07 Apr', '03 May', '08 Mar',
       '03 Mar', '05 Mar', '22 Jun', '04 May', '26 May', '16 Apr',
       '26 Jun', '29 May', '29 Jun', '29 Mar', '23 May', '17 Jun'],
      dtype=object)

In [21]:
flights.Duration

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10682, dtype: object

In [22]:
(
	flights
	.Duration
	.loc[lambda ser: ~ser.str.contains("m")]
	.unique()
)

array(['19h', '23h', '22h', '12h', '3h', '5h', '10h', '18h', '24h', '15h',
       '16h', '8h', '14h', '20h', '13h', '11h', '9h', '27h', '26h', '4h',
       '7h', '30h', '21h', '28h', '47h', '6h', '25h', '38h', '34h'],
      dtype=object)

In [23]:
(
	flights
	.Duration
	.loc[lambda ser: ~ser.str.contains("h")]
	# .unique()
)

6474    5m
Name: Duration, dtype: object

In [24]:
flights.iloc[[6474]]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6474,Air India,6/03/2019,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,16:50,16:55,5m,2 stops,No info,17327

- The observation indexed 6474 has duration of 5 minutes. This is clearly wrong. Will delete this observation.

In [25]:
(
	flights
	.Duration
	.drop(index=6474)
	.str.split(" ", expand=True)
	.set_axis(["hour", "minute"], axis=1)
	.assign(
		hour=lambda df_: (
			df_
			.hour
			.str.replace("h", "")
			.astype(int)
			.mul(60)
		),
		minute=lambda df_: (
			df_
			.minute
			.str.replace("m", "")
			.fillna("0")
			.astype(int)
		)
	)
	.sum(axis=1)
)

0         170
1         445
2        1140
3         325
4         285
         ...
10678     150
10679     155
10680     180
10681     160
10682     500
Length: 10681, dtype: int64

In [26]:
(
	flights
	.Duration
	.drop(index=6474)
	.str.split(" ", expand=True)
	.set_axis(["hour", "minute"], axis=1)
	.assign(
		hour=lambda df_: (
			df_
			.hour
			.str.replace("h", "")
			.astype(int)
			.mul(60)
		),
		minute=lambda df_: (
			df_
			.minute
			.str.replace("m", "")
			.fillna("0")
			.astype(int)
		)
	)
	.sum(axis=1)
	.rename("duration_minutes")
	.to_frame()
	.join(flights.Duration.drop(index=6474))
)

       duration_minutes Duration
0                   170   2h 50m
1                   445   7h 25m
2                  1140      19h
3                   325   5h 25m
4                   285   4h 45m
...                 ...      ...
10678               150   2h 30m
10679               155   2h 35m
10680               180       3h
10681               160   2h 40m
10682               500   8h 20m

[10681 rows x 2 columns]

In [27]:
flights.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [28]:
(
	flights
	.Total_Stops
	.replace("non-stop", "0")
	.str.replace(" stops?", "", regex=True) # " stop" " stops"
	.pipe(lambda ser: pd.to_numeric(ser))
)

0        0
1        2
2        2
3        1
4        1
        ..
10678    0
10679    0
10680    0
10681    0
10682    2
Name: Total_Stops, Length: 10682, dtype: int64

In [29]:
flights.Additional_Info.unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

## Cleaning Operations

In [30]:
def convert_to_minutes(ser):
	return (
		ser
		.str.split(" ", expand=True)
		.set_axis(["hour", "minute"], axis=1)
		.assign(
			hour=lambda df_: (
				df_
				.hour
				.str.replace("h", "")
				.astype(int)
				.mul(60)
			),
			minute=lambda df_: (
				df_
				.minute
				.str.replace("m", "")
				.fillna("0")
				.astype(int)
			)
		)
		.sum(axis=1)
	)

In [31]:
def clean_data(df):
	return (
		df
		.drop(index=[6474])
		.drop_duplicates()
		.assign(**{
			col: df[col].str.strip()
			for col in df.select_dtypes(include="O").columns
		})
		.rename(columns=str.lower)
		.assign(
			airline=lambda df_: (
				df_
				.airline
				.str.replace(" Premium economy", "")
				.str.replace(" Business", "")
				.str.title()
			),destination = lambda df_: (
                df_
	             .destination
	             .str.replace("New ", "")
	             
            ) , 
			date_of_journey=lambda df_: pd.to_datetime(df_.date_of_journey, dayfirst=True),
			dep_time=lambda df_: pd.to_datetime(df_.dep_time).dt.time,
			arrival_time=lambda df_: pd.to_datetime(df_.arrival_time).dt.time,
			duration=lambda df_: df_.duration.pipe(convert_to_minutes),
			total_stops=lambda df_: (
				df_
				.total_stops
				.replace("non-stop", "0")
				.str.replace(" stops?", "", regex=True)
				.pipe(lambda ser: pd.to_numeric(ser))
			),
			additional_info=lambda df_: df_.additional_info.replace("No info", "No Info")
		)
		.drop(columns="route")
	)

In [32]:
flights_cleaned = clean_data(flights)
flights_cleaned

C:\Users\User\AppData\Local\Temp\ipykernel_20784\2859885799.py:25: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dep_time=lambda df_: pd.to_datetime(df_.dep_time).dt.time,
C:\Users\User\AppData\Local\Temp\ipykernel_20784\2859885799.py:26: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  arrival_time=lambda df_: pd.to_datetime(df_.arrival_time).dt.time,

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Indigo,2019-03-24,Banglore,Delhi,22:20:00,01:10:00,170,0,No Info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50:00,13:15:00,445,2,No Info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25:00,04:25:00,1140,2,No Info,13882
3,Indigo,2019-05-12,Kolkata,Banglore,18:05:00,23:30:00,325,1,No Info,6218
4,Indigo,2019-03-01,Banglore,Delhi,16:50:00,21:35:00,285,1,No Info,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,19:55:00,22:25:00,150,0,No Info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,20:45:00,23:20:00,155,0,No Info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,08:20:00,11:20:00,180,0,No Info,7229
10681,Vistara,2019-03-01,Banglore,Delhi,11:30:00,14:10:00,160,0,No Info,12648
10682,Air India,2019-05-09,Delhi,Cochin,10:55:00,19:15:00,500,2,No Info,11753

In [36]:
flights_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10461 entries, 0 to 10682
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          10461 non-null  object
 1   date_of_journey  10461 non-null  datetime64[ns]
 2   source           10461 non-null  object
 3   destination      10461 non-null  object
 4   dep_time         10461 non-null  object
 5   arrival_time     10461 non-null  object
 6   duration         10461 non-null  int64
 7   total_stops      10461 non-null  int64
 8   additional_info  10461 non-null  object
 9   price            10461 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 899.0+ KB

In [35]:
flights_cleaned.source.unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [44]:
for col in flights_cleaned.columns:
    print(flights_cleaned[col].unique())

['Indigo' 'Air India' 'Jet Airways' 'Spicejet' 'Multiple Carriers' 'Goair'
 'Vistara' 'Air Asia' 'Trujet']
<DatetimeArray>
['2019-03-24 00:00:00', '2019-05-01 00:00:00', '2019-06-09 00:00:00',
 '2019-05-12 00:00:00', '2019-03-01 00:00:00', '2019-06-24 00:00:00',
 '2019-03-12 00:00:00', '2019-05-27 00:00:00', '2019-06-01 00:00:00',
 '2019-04-18 00:00:00', '2019-05-09 00:00:00', '2019-04-24 00:00:00',
 '2019-03-03 00:00:00', '2019-04-15 00:00:00', '2019-06-12 00:00:00',
 '2019-03-06 00:00:00', '2019-03-21 00:00:00', '2019-04-03 00:00:00',
 '2019-05-06 00:00:00', '2019-05-15 00:00:00', '2019-06-18 00:00:00',
 '2019-06-15 00:00:00', '2019-04-06 00:00:00', '2019-05-18 00:00:00',
 '2019-06-27 00:00:00', '2019-05-21 00:00:00', '2019-06-03 00:00:00',
 '2019-03-15 00:00:00', '2019-05-03 00:00:00', '2019-03-09 00:00:00',
 '2019-06-06 00:00:00', '2019-05-24 00:00:00', '2019-04-01 00:00:00',
 '2019-04-21 00:00:00', '2019-06-21 00:00:00', '2019-03-27 00:00:00',
 '2019-03-18 00:00:00', '2019-04-12 00:00:00', '2019-04-09 00:00:00',
 '2019-04-27 00:00:00']
Length: 40, dtype: datetime64[ns]
['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']
['Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Hyderabad']
[datetime.time(22, 20) datetime.time(5, 50) datetime.time(9, 25)
 datetime.time(18, 5) datetime.time(16, 50) datetime.time(9, 0)
 datetime.time(18, 55) datetime.time(8, 0) datetime.time(8, 55)
 datetime.time(11, 25) datetime.time(9, 45) datetime.time(20, 20)
 datetime.time(11, 40) datetime.time(21, 10) datetime.time(17, 15)
 datetime.time(16, 40) datetime.time(8, 45) datetime.time(14, 0)
 datetime.time(20, 15) datetime.time(16, 0) datetime.time(14, 10)
 datetime.time(22, 0) datetime.time(4, 0) datetime.time(21, 25)
 datetime.time(21, 50) datetime.time(7, 0) datetime.time(7, 5)
 datetime.time(9, 50) datetime.time(14, 35) datetime.time(10, 35)
 datetime.time(15, 5) datetime.time(14, 15) datetime.time(6, 45)
 datetime.time(20, 55) datetime.time(11, 10) datetime.time(5, 45)
 datetime.time(19, 0) datetime.time(23, 5) datetime.time(11, 0)
 datetime.time(9, 35) datetime.time(21, 15) datetime.time(23, 55)
 datetime.time(19, 45) datetime.time(8, 50) datetime.time(15, 40)
 datetime.time(6, 5) datetime.time(15, 0) datetime.time(13, 55)
 datetime.time(5, 55) datetime.time(13, 20) datetime.time(5, 5)
 datetime.time(6, 25) datetime.time(17, 30) datetime.time(8, 20)
 datetime.time(19, 55) datetime.time(6, 30) datetime.time(14, 5)
 datetime.time(2, 0) datetime.time(9, 40) datetime.time(8, 25)
 datetime.time(20, 25) datetime.time(13, 15) datetime.time(2, 15)
 datetime.time(16, 55) datetime.time(20, 45) datetime.time(5, 15)
 datetime.time(19, 50) datetime.time(20, 0) datetime.time(6, 10)
 datetime.time(19, 30) datetime.time(4, 45) datetime.time(12, 55)
 datetime.time(18, 15) datetime.time(17, 20) datetime.time(15, 25)
 datetime.time(23, 0) datetime.time(12, 0) datetime.time(14, 45)
 datetime.time(11, 50) datetime.time(11, 30) datetime.time(14, 40)
 datetime.time(19, 10) datetime.time(6, 0) datetime.time(23, 30)
 datetime.time(7, 35) datetime.time(13, 5) datetime.time(12, 30)
 datetime.time(15, 10) datetime.time(12, 50) datetime.time(18, 25)
 datetime.time(16, 30) datetime.time(0, 40) datetime.time(6, 50)
 datetime.time(13, 0) datetime.time(19, 15) datetime.time(1, 30)
 datetime.time(17, 0) datetime.time(10, 0) datetime.time(19, 35)
 datetime.time(15, 30) datetime.time(12, 10) datetime.time(16, 10)
 datetime.time(20, 35) datetime.time(22, 25) datetime.time(21, 5)
 datetime.time(5, 35) datetime.time(5, 10) datetime.time(6, 40)
 datetime.time(15, 15) datetime.time(0, 30) datetime.time(8, 30)
 datetime.time(7, 10) datetime.time(5, 30) datetime.time(14, 25)
 datetime.time(5, 25) datetime.time(10, 20) datetime.time(17, 45)
 datetime.time(13, 10) datetime.time(22, 10) datetime.time(4, 55)
 datetime.time(17, 50) datetime.time(21, 20) datetime.time(6, 20)
 datetime.time(15, 55) datetime.time(20, 30) datetime.time(17, 25)
 datetime.time(9, 30) datetime.time(7, 30) datetime.time(2, 35)
 datetime.time(10, 55) datetime.time(17, 10) datetime.time(9, 10)
 datetime.time(18, 45) datetime.time(15, 20) datetime.time(22, 50)
 datetime.time(14, 55) datetime.time(14, 20) datetime.time(13, 25)
 datetime.time(22, 15) datetime.time(11, 5) datetime.time(16, 15)
 datetime.time(20, 10) datetime.time(6, 55) datetime.time(19, 5)
 datetime.time(7, 55) datetime.time(7, 45) datetime.time(10, 10)
 datetime.time(8, 15) datetime.time(11, 35) datetime.time(21, 0)
 datetime.time(17, 55) datetime.time(16, 45) datetime.time(18, 20)
 datetime.time(3, 50) datetime.time(8, 35) datetime.time(19, 20)
 datetime.time(20, 5) datetime.time(17, 40) datetime.time(4, 40)
 datetime.time(17, 35) datetime.time(9, 55) datetime.time(5, 0)
 datetime.time(18, 0) datetime.time(2, 55) datetime.time(20, 40)
 datetime.time(22, 55) datetime.time(22, 40) datetime.time(21, 30)
 datetime.time(8, 10) datetime.time(17, 5) datetime.time(7, 25)
 datetime.time(15, 45) datetime.time(9, 15) datetime.time(15, 50)
 datetime.time(11, 45) datetime.time(22, 5) datetime.time(18, 35)
 datetime.time(0, 25) datetime.time(19, 40) datetime.time(20, 50)
 datetime.time(22, 45) datetime.time(10, 30) datetime.time(23, 25)
 datetime.time(11, 55) datetime.time(10, 45) datetime.time(11, 15)
 datetime.time(12, 20) datetime.time(14, 30) datetime.time(7, 15)
 datetime.time(1, 35) datetime.time(18, 40) datetime.time(9, 20)
 datetime.time(21, 55) datetime.time(13, 50) datetime.time(1, 40)
 datetime.time(0, 20) datetime.time(4, 15) datetime.time(13, 45)
 datetime.time(18, 30) datetime.time(6, 15) datetime.time(2, 5)
 datetime.time(12, 15) datetime.time(13, 30) datetime.time(6, 35)
 datetime.time(10, 5) datetime.time(8, 40) datetime.time(3, 5)
 datetime.time(21, 35) datetime.time(16, 35) datetime.time(2, 30)
 datetime.time(16, 25) datetime.time(5, 40) datetime.time(15, 35)
 datetime.time(13, 40) datetime.time(7, 20) datetime.time(4, 50)
 datetime.time(12, 45) datetime.time(10, 25) datetime.time(12, 5)
 datetime.time(11, 20) datetime.time(21, 40) datetime.time(3, 0)]
[datetime.time(1, 10) datetime.time(13, 15) datetime.time(4, 25)
 datetime.time(23, 30) datetime.time(21, 35) datetime.time(11, 25)
 datetime.time(10, 25) datetime.time(5, 5) datetime.time(19, 15)
 datetime.time(23, 0) datetime.time(22, 55) datetime.time(13, 55)
 datetime.time(9, 20) datetime.time(19, 50) datetime.time(12, 35)
 datetime.time(19, 20) datetime.time(13, 20) datetime.time(6, 50)
 datetime.time(21, 50) datetime.time(8, 15) datetime.time(3, 35)
 datetime.time(12, 55) datetime.time(23, 15) datetime.time(21, 0)
 datetime.time(20, 20) datetime.time(16, 45) datetime.time(19, 0)
 datetime.time(18, 10) datetime.time(15, 15) datetime.time(8, 35)
 datetime.time(11, 5) datetime.time(14, 15) datetime.time(10, 55)
 datetime.time(0, 15) datetime.time(2, 45) datetime.time(12, 0)
 datetime.time(23, 55) datetime.time(1, 30) datetime.time(9, 25)
 datetime.time(15, 25) datetime.time(15, 35) datetime.time(8, 30)
 datetime.time(10, 5) datetime.time(14, 30) datetime.time(7, 55)
 datetime.time(10, 35) datetime.time(22, 35) datetime.time(4, 40)
 datetime.time(7, 25) datetime.time(20, 45) datetime.time(14, 25)
 datetime.time(22, 30) datetime.time(23, 20) datetime.time(7, 40)
 datetime.time(22, 50) datetime.time(14, 35) datetime.time(8, 55)
 datetime.time(18, 50) datetime.time(9, 5) datetime.time(1, 35)
 datetime.time(9, 40) datetime.time(16, 25) datetime.time(11, 10)
 datetime.time(17, 5) datetime.time(17, 50) datetime.time(23, 10)
 datetime.time(8, 45) datetime.time(7, 45) datetime.time(16, 10)
 datetime.time(0, 55) datetime.time(23, 35) datetime.time(20, 0)
 datetime.time(0, 40) datetime.time(21, 45) datetime.time(18, 15)
 datetime.time(3, 25) datetime.time(4, 15) datetime.time(21, 10)
 datetime.time(21, 5) datetime.time(9, 45) datetime.time(18, 5)
 datetime.time(22, 0) datetime.time(15, 30) datetime.time(8, 50)
 datetime.time(8, 0) datetime.time(19, 35) datetime.time(11, 20)
 datetime.time(10, 15) datetime.time(12, 45) datetime.time(2, 20)
 datetime.time(7, 15) datetime.time(11, 50) datetime.time(18, 30)
 datetime.time(19, 45) datetime.time(21, 20) datetime.time(20, 5)
 datetime.time(9, 10) datetime.time(22, 20) datetime.time(10, 10)
 datetime.time(1, 0) datetime.time(23, 50) datetime.time(12, 20)
 datetime.time(20, 25) datetime.time(22, 45) datetime.time(21, 25)
 datetime.time(14, 5) datetime.time(0, 5) datetime.time(19, 55)
 datetime.time(16, 20) datetime.time(7, 5) datetime.time(19, 10)
 datetime.time(12, 5) datetime.time(4, 5) datetime.time(19, 40)
 datetime.time(17, 55) datetime.time(17, 25) datetime.time(0, 30)
 datetime.time(23, 40) datetime.time(23, 5) datetime.time(0, 50)
 datetime.time(13, 45) datetime.time(9, 15) datetime.time(20, 35)
 datetime.time(7, 10) datetime.time(9, 35) datetime.time(14, 20)
 datetime.time(4, 45) datetime.time(10, 30) datetime.time(19, 25)
 datetime.time(5, 35) datetime.time(9, 0) datetime.time(22, 40)
 datetime.time(14, 45) datetime.time(13, 25) datetime.time(21, 55)
 datetime.time(10, 45) datetime.time(10, 40) datetime.time(13, 0)
 datetime.time(22, 10) datetime.time(18, 35) datetime.time(5, 25)
 datetime.time(22, 15) datetime.time(12, 10) datetime.time(12, 15)
 datetime.time(14, 0) datetime.time(2, 15) datetime.time(12, 50)
 datetime.time(17, 15) datetime.time(7, 35) datetime.time(23, 45)
 datetime.time(22, 25) datetime.time(12, 25) datetime.time(6, 35)
 datetime.time(1, 20) datetime.time(18, 45) datetime.time(9, 30)
 datetime.time(4, 20) datetime.time(10, 50) datetime.time(23, 25)
 datetime.time(22, 5) datetime.time(13, 30) datetime.time(13, 35)
 datetime.time(17, 35) datetime.time(8, 20) datetime.time(18, 25)
 datetime.time(10, 20) datetime.time(15, 50) datetime.time(11, 30)
 datetime.time(14, 10) datetime.time(0, 25) datetime.time(3, 15)
 datetime.time(15, 55) datetime.time(0, 45) datetime.time(4, 35)
 datetime.time(18, 0) datetime.time(12, 30) datetime.time(2, 10)
 datetime.time(0, 20) datetime.time(21, 40) datetime.time(8, 40)
 datetime.time(16, 55) datetime.time(20, 30) datetime.time(17, 20)
 datetime.time(0, 35) datetime.time(20, 15) datetime.time(14, 50)
 datetime.time(13, 40) datetime.time(16, 50) datetime.time(15, 5)
 datetime.time(17, 45) datetime.time(18, 40) datetime.time(3, 10)
 datetime.time(16, 40) datetime.time(9, 50) datetime.time(13, 5)
 datetime.time(17, 40) datetime.time(20, 40) datetime.time(17, 10)
 datetime.time(20, 50) datetime.time(0, 10) datetime.time(8, 10)
 datetime.time(16, 15) datetime.time(16, 5) datetime.time(10, 0)
 datetime.time(16, 35) datetime.time(18, 20) datetime.time(4, 0)
 datetime.time(21, 15) datetime.time(14, 40) datetime.time(1, 45)
 datetime.time(16, 30) datetime.time(11, 55) datetime.time(15, 20)
 datetime.time(20, 10) datetime.time(15, 0) datetime.time(15, 45)
 datetime.time(12, 40) datetime.time(15, 10) datetime.time(13, 10)
 datetime.time(11, 15) datetime.time(3, 40) datetime.time(16, 0)
 datetime.time(11, 35)]
[ 170  445 1140  325  285  145  930 1265 1530  470  795  155  135  730
 1595  270 1355 1380 1235  310  920  175  800  910  345  355  805 1320
  330  625  315  150  375  715  665  510 1325  165  720  965 1195  195
 1520  180  975  905  390 1505  745 1640  615  630   90   85 1590  440
  810  300 1145  890  160 1330  575  600 1280 1125  740 1080  555 1050
  995  735  450 1440  535  430  870 1820  900  765  610  925  845 1215
 1390 1090  960  140  480 1015  190  840 1430 1300 1275  650  495  515
  710 1655  505 1255  290  490 1465 1415 1545 1570 1730 1515  560  550
  185  690  570 1055  305 1550 1200  780 1105 1450  295 1535  380 1120
 1165 1760  545  645  700 1375 2245 1540  835  520 1410  755 1455   80
  660  675  875  775  540  460  705 1495 1025 1795 1335  880  435 1210
 1245 1620 1470 1225  335  885  340  245  955  465 1700  260  220  530
 1425 1485 1295  485  385  950 1585 1490 1560 1385  475 1580 1395  320
  240  585  500 1045  425 2045  365  350  420  265  825 1155 1350  985
  830 1625 1690  280  940  275 1110 2295  395  750  680  455 1775 1615
 1420  770  590 1315  655 1270 1240 1800  790  525  370 1065 1305  235
 1040 1830 1285  760 1475 1150 1360  895 1260  405 1720  580 1000  980
 1005   75  415  685  860  725 1445 1695 1070 1220 1685  620  855 2115
 2135 1600 1680  865  785 2240 2170 1555 2105 1185 1675 2820  635   95
  970 2300  360 1010  850 1400 1060  695 1100  400 1855 1480 1790 1705
 1035 1365 1525 1310 1995 1815  215 1660 1825 1130 1665  915  640 1575
 2185 1610  945 1180 1345 1175 1500 1605 2280  255 1510 1095  410 1435
 1075 1405 1030 1460 1710 1630 1160  935  565 1290 2065 1115 1780 1565
 1745 1645  990  670 1735 1750 2040 1840 1845 1975  605 2120 1925 1900
 1190 2025 1810  820 1170 1890 2070 1670 2315 2525  250 2345  230 1950
 1915 2000 1650 1135  595 2480 1205 1910 2565  205 2230 1770 1940 1250
 2420  815 2860]
[0 2 1 3 4]
['No Info' 'In-flight meal not included' 'No check-in baggage included'
 '1 Short layover' '1 Long layover' 'Change airports' 'Business class'
 'Red-eye flight' '2 Long layover']
[ 3897  7662 13882 ...  9790 12352 12648]

## Splitting Data

In [36]:
X = flights_cleaned.drop(columns="price")
y = flights_cleaned.price.copy()

In [37]:
X_, X_test, y_, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_, y_, test_size=0.2, random_state=42)

print(X_train.shape, y_train.shape)
print(X_val.shape, y_val.shape)
print(X_test.shape, y_test.shape)

(6694, 9) (6694,)
(1674, 9) (1674,)
(2093, 9) (2093,)

## Exporting the Subsets

In [38]:
def export_data(X, y, name):
	file_name = f"{name}.csv"
	file_path = os.path.join(PROJECT_DIR, DATA_DIR, file_name)

	X.join(y).to_csv(file_path, index=False)

	return pd.read_csv(file_path).head()

In [39]:
export_data(X_train, y_train, "train")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-05-27,Delhi,Cochin,20:55:00,12:35:00,940,1,In-flight meal not included,12898
1,Jet Airways,2019-06-12,Kolkata,Banglore,18:55:00,16:20:00,1285,1,No Info,13044
2,Air India,2019-05-18,Delhi,Cochin,09:45:00,09:25:00,1420,2,No Info,10975
3,Indigo,2019-06-03,Mumbai,Hyderabad,21:20:00,22:50:00,90,0,No Info,2227
4,Jet Airways,2019-04-01,Mumbai,Hyderabad,02:55:00,04:20:00,85,0,No Info,5678

In [40]:
export_data(X_val, y_val, "val")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-05-27,Delhi,Cochin,09:00:00,19:00:00,600,1,In-flight meal not included,10675
1,Jet Airways,2019-05-24,Kolkata,Banglore,18:55:00,10:05:00,910,1,In-flight meal not included,8586
2,Jet Airways,2019-03-18,Banglore,Delhi,21:25:00,09:30:00,725,1,No Info,13555
3,Spicejet,2019-06-27,Chennai,Kolkata,17:45:00,20:05:00,140,0,No check-in baggage included,3543
4,Air Asia,2019-05-15,Kolkata,Banglore,07:35:00,19:25:00,710,1,No Info,5192

In [41]:
export_data(X_test, y_test, "test")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-06,Banglore,Delhi,08:00:00,08:15:00,1455,1,No Info,17996
1,Spicejet,2019-06-06,Kolkata,Banglore,22:20:00,00:40:00,140,0,No Info,3873
2,Indigo,2019-03-18,Kolkata,Banglore,05:30:00,08:20:00,170,0,No Info,4462
3,Jet Airways,2019-03-24,Mumbai,Hyderabad,15:50:00,17:20:00,90,0,In-flight meal not included,2228
4,Spicejet,2019-04-27,Banglore,Delhi,09:30:00,12:20:00,170,0,No Info,4991